#role {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
  color: #bfdce0;
  font-family: "roboto";
  min-width: 300px;
}

div h1 {
  font-family: "roboto";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.blurry-alert {
    width: 80%;
    font-size: xx-large;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.loading{

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}


@keyframes fadeInUp {
0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}



h1 {
  animation: 1.5s fadeInUp;
  animation-delay: 2s;
}